<!DOCTYPE html>
<html>

<head>
        <title>Truxxit</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
                crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
</head>

<body>
        <div class="row">
                <div class="col-md-8" style="margin:20px;">
                        <h4>Adding Truck to Database</h4>
                        <form action="AddingUser" method="post">
                                <div class="form-group">
                                        <input type="text" class="form-control" name="firstname" value="" placeholder="First Name" required />
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" name="lastname" value="" placeholder="Last Name" required />
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" name="userid" value="" placeholder="User ID" required />
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" name="dob" value="" placeholder="Date of Birth" required />
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" name="password" value="" placeholder="password" required />
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" name="confirm password" value="" placeholder="confirm password" required />
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" name="phonenumber" value="" placeholder="Phone Number" required />
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Add Truck</button>
                            </div>
                        </form>
                </div>
        </div>
</body>
<style>
       body{
               background: darkcyan;
       } 
</style>
</html>