<!DOCTYPE html>
<html>

<head>
    <title>Truxxit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <h4 style="text-align:center;margin:30px;font-size:30px;">Operation Successfull</h4>
</body>
<style>
        body{
                background: aliceblue;
        } 
 </style>
</html>